.cartao1{
  background-color: rgb(52, 204, 255);
  width: 350px;
  height: 400px;
  padding: 40px 25px;
  border-radius: 10px;

}
.cartao1 button{
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;

}
.cartao1 p{

}

.cartao1 h1{
  font
}