
.dados-pessoais{
  text-align:center;
  line-height: 5px;
  padding: 5px 15px;
  line-height: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start; 
}
.dados-pessoais h1{
  font-size: 25px;
  font-weight: bold;
  padding: 10px 5px;
}
#perfil{
  display: flex;
  align-self:flex-end; 
  position:absolute;
  top: 15px;
  right: 30px;
}
.dados-pessoais p{
  padding: 0px 5px;
  font-size: 16px;
}
.resumo{
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
.resumo h2{
  color: rgb(0, 0, 179);
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  padding: 5px 5px;
}
.resumo ul{
  padding: 10px 40px;
}
.resumo li{
  font-size: 14px;
  line-height: 20px;

}
.formacao{
  padding: 5px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
.formacao h2{  
  color: rgb(0, 0, 179);
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  padding: 5px 5px;
}
.formacao h3{
  font-weight:bold;
  font-size: 16px;
  padding: 5px 20px;
}
.funcao{
  padding: 5px 20px;
  line-height: 10px;
  font-style: italic;
}
.formacao ul{
  padding: 10px 40px;
}
.formacao li{
  font-size: 16px;
  line-height: 20px;
}
.experiencia{
  padding: 5px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
.experiencia h2{
  color: rgb(0, 0, 179);
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  padding: 5px 5px;
}
.experiencia h3{
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
}
#apresentacao{
  padding: 10px 20px;
}
.experiencia ul{
  padding: 10px 40px;
}
.experiencia li{
  font-size: 14px;
  line-height: 20px;
}
.informacoes{
  padding: 5px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
.informacoes h2{
  color: rgb(0, 0, 179);
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  padding: 5px 5px;
}
.informacoes ul{
  padding: 10px 40px 40px 40px;
}
.informacoes li{
  font-size: 14px;
  line-height: 20px;
}