@font-face{
  font-family: 'Discord1';
  src: url(../assets/fonts/1cce82154216dc3cb04a84d011ce1201.woff2);
}
@font-face{
  font-family: 'Discord2';
  src: url(../assets/fonts/3bdef1251a424500c1b3a78dea9b7e57.woff);
}
@font-face{
  font-family: 'Discord3';
  src: url(../assets/fonts/ae7c84783ad48b6d1c8e2bfbe707e0d4.woff2);
}
@font-face{
  font-family: 'Discord4';
  src: url(../assets/fonts/be0060dafb7a0e31d2a1ca17c0708636.woff);
}
@font-face{
  font-family: 'Discord5';
  src: url(../assets/fonts/e8acd7d9bf6207f99350ca9f9e23b168.woff);
}